.main-subtitle_underlined {
  border-bottom: 1px solid #000000;
  padding-bottom: 28px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .main-subtitle_underlined {
    padding-bottom: 23px;
    margin-bottom: 70px;
    font-size: 22px;
    line-height: 27px;
  }
}
