body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

a {
  text-decoration: none;  
  color: #000;
}

a:visited {
  color: #000;
}

* {
  background-color: #FAFAFA;
}
