.menu {
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s linear, visibility .3s linear;
}

.menu_open {
  visibility: visible;
  opacity: 1;
}

.menu__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
}

.menu__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.menu__close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.menu__close button{
  background-image: url(../../images/close.svg);
  background-position: center;
  width: 22px;
  height: 22px;
  border: none;
  margin: 14px 14px 0 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu {
    align-items: flex-end;
  }

  .menu__main {
    width: 520px;
  }

  .menu__close {
    margin-bottom: 105px;
  }

  .menu__close button {
    margin: 22px 22px 0 0;
  }
}
