.not-found {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.not-found__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.not-found__title {
  font-weight: normal;
  font-size: 80px;
  line-height: 97px;
  margin: 0 0 10px 0;
}

.not-found__paragraph {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.not-found__footer {
  margin-bottom: 30px;
}

.not-found__footer button {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3456F3;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .not-found__title {
    font-size: 140px;
    line-height: 169px;
    margin: 0 0 10px 0;
  }  

  .not-found__paragraph {
    font-size: 16px;
    line-height: 19px;
  }

  .not-found__footer {
    position: absolute;
    bottom: 22%;
    margin: 0;
  }

  .not-found__footer button {
    font-size: 14px;
    line-height: 17px;
  }
}
