.promo {
  width: 100%;  
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;  
}

.promo__wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  margin: 14px;
}

.promo__text-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  font-weight: normal;
  font-size: 29px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #F5F5F5;
}

.promo__text-banner span {
  width: 292px;
  background-color: inherit;
}
