.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-form__wrapper {
  margin: 80px 10px 10px 10px;
  padding-bottom: 45px;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-form__film-name {
  background: #F4F4F4;
  border-radius: 9px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  padding: 26px 70px 26px 19px;
  margin-bottom: 45px;
  outline: none;
}

.search-form__submit {
  background-image: url(../../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 19px;
  top: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .search-form__wrapper {
    margin: 80px 30px 10px 30px;
    padding-bottom: 109px;    
    border-bottom: 1px solid #E8E8E8;
  }  

  .search-form__form {
    flex-direction: row;
    justify-content: space-between;
    background: #F4F4F4;
    border-radius: 9px;
  }

  .search-form__film-name {
    border: none;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    padding: 25px 0 25px 28px;
    flex: 1 0 auto;
    margin: 0 70px 0 28px;
    outline: none;
    background: url(../../images/find.svg) no-repeat center left;    
  }

  .search-form__submit {
    right: 227px;
    top: 18px;    
  }
}
