.header {
  width: 100%;
  background-color: #FAFAFA;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 18px 14px;
}

.header__logo {
  margin-top: 2px;
}

.header__right-side {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__register-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  margin-right: 14px;
}

.header__login-link {
  background: #3456F3;
  border-radius: 3px;
  width: 54px;
  height: 26px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-btn {
  padding: 0;
  border: none;
  width: 40px;
  height: 43px;
  background-color: transparent;
  background-image: url(../../images/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    margin: 18px 30px;
  }

  .header__register-link {
    font-size: 12px;
    margin-right: 30px;
  }

  .header__login-link {
    font-size: 12px;
    width: 76px;
    height: 32px;
  }
}
