.about-project {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-project__wrapper {
  margin: 70px 18px;
}

.about-project__paragraph {  
  font-size: 11px;
  line-height: 16px;
  margin: 0 0 60px 0;
}

.about-project__timeline {
  display: flex;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.about-project__backend-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.8 0 auto;
}

.about-project__frontend-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 0 auto;
}

.about-project__backend-box {
  padding: 11px 0px;
  width: 100%;
  color: #fff;
  background-color: #3456f3;
}

.about-project__frontend-box {
  padding: 11px 0px;
  width: 100%;
  background-color: #f2f2f2;
}

.about-project__timeline-text {
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin: 10px 0 0 0;
}

@media screen and (min-width: 768px) {
  .about-project__wrapper {
    margin: 76px 50px;
  }

  .about-project__paragraph {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 93px;
  }

  .about-project__row {
    display: flex;
  }

  .about-project__column {
    margin-right: 30px;
  }

  .about-project__column:last-child {
    margin-right: 0;
  }

  .about-project__timeline {
    font-size: 14px;
    line-height: 17px;    
  }

  .about-project__timeline-text {
    font-family: Suisse Intl;
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0 0;
  }
}
