.techs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.techs__wrapper {
  margin: 70px 18px;
}

.techs__count {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 0 24px 0;
}

.techs__paragraph {
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 0 50px 0;
}

.techs__cards {
  display: grid;
  grid-template-columns: repeat(2, 84px);
  row-gap: 10px;
  column-gap: 10px;
  justify-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__card {
  background: #E8E8E8;
  border-radius: 10px;
  width: 84px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
