@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
@import url(./fonts/suisse.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/hidden/hidden.css);
@import url(./blocks/main-subtitle/main-subtitle.css);
@import url(./blocks/main-subtitle/_underlined/main-subtitle_underlined.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__wrapper/login__wrapper.css);
@import url(./blocks/login/__logo/login__logo.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__form-line/login__form-line.css);
@import url(./blocks/login/__label/login__label.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__submit/login__submit.css);
@import url(./blocks/login/__footer/login__footer.css);
